#cloud-config
package_update: true
package_upgrade: true

packages:
  - ansible-core
  - git
  - python3-pip
  - jq

users:
  - default
  - name: ubuntu
    ssh_authorized_keys:
      - ${admin_public_key}
      - ${ansible_public_key}

write_files:
  - path: /root/id_rsa
    permissions: '0600'
    content: |
      ${indent(6, trimspace(ansible_private_key))}

  - path: /root/id_rsa.pub
    permissions: '0644'
    content: |
      ${trimspace(ansible_public_key)}

  - path: /root/ansible.cfg
    permissions: '0644'
    content: |
      [defaults]
      inventory = ./inventory.ini
      host_key_checking = False
      private_key_file = /home/ubuntu/.ssh/id_rsa
      interpreter_python = auto_silent

runcmd:
  - mkdir -p /home/ubuntu/.ssh
  - mv /root/id_rsa /home/ubuntu/.ssh/id_rsa
  - mv /root/id_rsa.pub /home/ubuntu/.ssh/id_rsa.pub
  - mkdir -p /home/ubuntu/ansible
  - mv /root/ansible.cfg /home/ubuntu/ansible/ansible.cfg
  - chown -R ubuntu:ubuntu /home/ubuntu/.ssh /home/ubuntu/ansible
  - chmod 700 /home/ubuntu/.ssh
  - sudo -u ubuntu ansible --version